@page "/dirbuster"
@using TICS.Models
@using TICS.Models.Histories
@inherits DirBusterModel

<div class="container mt-4">
    <h3 class="mt-4">Dirbuster</h3>
    @if (!string.IsNullOrEmpty(Runtime))
    {
        <div>
            <label>Runtime:</label>
            <span>@Runtime</span>
        </div>
    }
    <div class="mb-3">
        <label for="host" class="form-label">Hostname:</label>
        <input type="text" id="host" name="host" class="form-control" required @bind="HostName" placeholder="http://demo.testfire.net"/>
    </div>
    <div class="mb-3">
        <label for="port" class="form-label">Port:</label>
        <input type="number" id="port" name="port" class="form-control" required @bind="Port" />
    </div>
    <div class="mb-3">
        <label for="numThreads" class="form-label">Number of Threads:</label>
        <input type="number" id="numThreads" name="numThreads" class="form-control" max="500" min="1" required @bind="NumberOfThreads" />
    </div>
    <div class="mb-3">
        <label for="FileExtensions" class="form-label">Bestand extensies (optioneel) </label>
        <input placeholder="png;jpg;txt;php" type="text" id="FileExtensions" name="FileExtensions" class="form-control" @bind="FileExtensions" />
    </div>
    <div class="d-flex justify-content-left">
        <div class="mb-3 me-3">
            <label for="recursive">Recursive</label>
            <input type="checkbox" id="recursive" name="recursive" class="form-check-inline" @bind="Recursive">
        </div>
    </div>
    <div class="d-flex justify-content-left">
        <button @onclick="Start" class="btn btn-primary me-3">Run dirbuster</button>
        <button @onclick="Stop" class="btn btn-primary">Stop scanning</button>
    </div>
    @if (!string.IsNullOrEmpty(Results))
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <h4>Scan Results:</h4>
                <pre>@Results</pre>
            </div>
        </div>
    }

    @if (Histories.Count > 0)
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <h4>Scan History:</h4>
                
            </div>
            <div class="col-md-12">
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                               Port
                           </th>
                            <th>
                                Recursive
                            </th>
                            <th>
                                File extentions
                            </th>
                            <th>
                                Tread amount
                            </th>
                            <th>
                                Time
                            </th
                            <th>
                                filePath
                            </th>
                       </tr>
                   </thead>
                   <tbody>
                    @foreach (DirBusterHistory history in Histories)
                    {
                       <tr>
                           <td>
                               @history.Port
                           </td>
                           <td>
                                @history.Recursive
                           </td>
                            <td>
                                @history.FileExentions
                           </td>
                           <td>
                                @history.ThreadsAmount
                           </td>
                           <td>
                                @history.RunTime
                            </td>
                            <td>
                                @history.FilePath
                            </td>
                       </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>