@page "/PortScan"
@using TICS.Models
@using TICS.Models.Histories
@inherits PortScanModel

<h3>Port Scan</h3>
@if (!string.IsNullOrEmpty(Runtime))
{
    <div>
        <label>Runtime:</label>
        <span>@Runtime</span>
    </div>
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="targetIp" class="form-label">Target IP:</label>
                <input type="text" id="targetIp" name="targetIp" class="form-control" required @bind="TargetIp" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="startPort" class="form-label">Start Port:</label>
                <input type="number" id="startPort" name="startPort" class="form-control" required @bind="StartPort" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="endPort" class="form-label">End Port:</label>
                <input type="number" id="endPort" name="endPort" class="form-control" required @bind="EndPort" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="numThreads" class="form-label">Number of Threads:</label>
                <input type="number" min="1" id="numThreads" name="numThreads" class="form-control" required @bind="NumThreads" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="protocol" class="form-label">Protocol:</label>
                <select id="protocol" name="protocol" class="form-select" required @bind="Protocol">
                    <option value="tcp">TCP</option>
                    <option value="udp">UDP</option>
                    <option value="both">Both</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button @onclick="Start" type="submit" class="btn btn-primary">Scan Ports</button>
            <button @onclick="Stop" type="reset" class="btn btn-primary">Stop scanning</button>
        </div>
    </div>
    @if (Results != null)
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <h4>Scan Results:</h4>
                <pre>@Results</pre>
            </div>
        </div>
    }

    @if (Histories.Count > 0)
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <h4>Scan History:</h4>
                
            </div>
            <div class="col-md-12">
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                               start port
                           </th>
                            <th>
                                end port
                            </th>
                            <th>
                                threads used
                            </th>
                            <th>
                                Time
                            </th
                            <th>
                                filePath
                            </th>
                       </tr>
                   </thead>
                   <tbody>
                    @foreach (PortScanHistory history in Histories)
                    {
                       <tr>
                           <td>
                               @history.StartPort
                           </td>
                           <td>
                                @history.EndPort
                           </td>
                           <td>
                                @history.ThreadsAmount
                           </td>
                           <td>
                                @history.RunTime
                            </td>
                            <td>
                                @history.FilePath
                            </td>
                       </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
